<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jed Brundige Portfolio</title>

    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="../css/bootstrap.css" type="text/css" rel="stylesheet">
    <script src="../scripts/jquery/jquery.js"></script>
</head>

<body>

<nav>
    <div id="links">
        <ul>
            <li><a href="#sectionMain">Home</a> </li>
            <li><a href="#sectionProjects">Projects</a></li>
            <li><a href="#sectionAbout">About</a></li>
            <li><a href="#sectionContact">Contact</a></li>
        </ul>
    </div>
</nav>

<section id="sectionMain"></section>

<section id="sectionProjects">
    <div id="knabba"></div>
    <div id="carischApp"></div>
    <div id="curling"></div>
</section>

<section id="sectionAbout"></section>

<section id="sectionContact"></section>

<script src="../scripts/jquery/waypoints.js"></script>
<script src="../scripts/jquery/parallax.js"></script>
</body>

</html>