
$linkColor: #245580;
$linkHoverColor: black;


@mixin transition($transition...){
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

@mixin  transform($transform...){
  -moz-transform: $transform;
  -o-transform: $transform;
  -webkit-transform: $transform;
  transform: $transform;
}

@mixin perspective($perspective...){
  -moz-perspective: $perspective;
  -webkit-perspective: $perspective;
  -o-perspective: $perspective;
  perspective: $perspective;
}


nav{
  position: fixed;
  height: 12%;
  width: 100%;
  z-index: 1000;

  #links{
    position: relative;
    height: 100%;
    width: 30%;
    text-align: center;
    float: right;

    ul{

      li{
        position: relative;
        list-style-type: none;
        display: inline;
        padding-right: 5%;


        a{
          position: relative;
          text-decoration: none;
          font-size: 1.6em;
          color: $linkColor;
          display: inline-block;
          @include transition(.6s);
        }

        a:hover{
          color: $linkHoverColor;
          text-decoration: none !important;
          @include transform(scale(1.3));
        }

        a:after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          border-bottom: solid black 3px;
          @include transition(.4s);
        }

        a:hover:after{
          width: 100%;
        }

        a:focus{
          outline: none;
          color: black;
          border-bottom: solid black 3px;
        }
      }
    }
  }
}