
$aboutBG: '../images/computer-background.jpg';
$circleBorder: solid #a63940 4px;


#sectionAbout{
  height: 100%;
  width: 100%;
  background: url($aboutBG) no-repeat 50% 50% fixed;
  background-size: 100% 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: relative;

  #picture{
    height: 30%;
    width: 15%;
    border: $circleBorder;
    border-radius: 50%;
  }

  #contentArea{
    height: 40%;
    width: 50%;
    background-color: white;
    opacity: .3;
    border-radius: 5%;
    color: black;
  }

  h1{
    margin: 0;
  }
}