
$aboutBG: '../images/computer-background.jpg';
$circleBorder: solid #a63940 4px;


#sectionAbout{
  height: 100%;
  width: 100%;
  background: url($aboutBG) no-repeat 50% 50% fixed;
  background-size: 100% 100%;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  position: relative;

  #picture{
    height: 35%;
    width: 18%;
    border: $circleBorder;
    border-radius: 50%;
    position: relative;
    left: 41%;
    top: 5%;
  }

  #contentArea{
    height: 50%;
    width: 55%;
    background-color: white;
    opacity: .3;
    border-radius: 5%;
    position: relative;
    top: 9%;
    left: 23%;
  }

  #pictureBG {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  h1{
    margin: 0;
  }
}
